.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: stretch;
  text-align: center;
}

h1 {
  font-weight: 200;
}

.cards-container {
  display: flex;
}
@media (max-width: 1068px) {
  .cards-container {
    display: block;
  }
}
